@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


:root {
    --clr-gray: rgb(151, 151, 151);
    --clr-light-gray: rgb(241, 241, 241);
    --clr-dark: rgb(75, 75, 75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body {
    background-color: rgb(239, 248, 255);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 80px;
    width: 100%;
    height: auto;
}

/* ============= Colors =============== */

.colorlist-container {
    margin-top: 6rem;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-rows: 150px;
}

/* ALert */
.success {
    color: green;
}
.danger {
    color: red;
}
